.chat {
    display: flex;
    flex-direction: column;
    height: 85vh;
    width: 50vw; 
    min-width: 300px;
    margin: 10px 0;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
    .messages {
      flex: 1;
      overflow: hidden;
      padding: 10px;
  
      .noMsgs{
        text-align: center;
        color: rgb(87, 87, 87);
        margin-top: 30px;
      }

      .scroller {
        height: 100%;
        overflow: auto;
        padding-right: 5px;
        scrollbar-color: #3f51b5 #f5f5f5; 
        scrollbar-3dlight-color: #3f51b5;
      }

      .message {
          display: flex;
          flex-direction: column;
          width: 50%;
          padding: 10px;
          margin: 10px 0;
          border-radius: 8px;
          background-color: #f5f5f5;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
          .header-msg {
              display: flex;
              align-items: center;
              justify-content: space-between; 
              margin-bottom: 5px;
              gap: 10px; 
  
              .profile-photo {
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  margin-right: 10px;
                  border: 2px solid #ddd;
              }
  
              .currentUserPhoto {
                  order: 2;
                  margin-right: 0;
                  margin-left: 10px;
              }
  
              .sender {
                  font-weight: bold;
                  font-size: 14px;
                  color: #3f51b5;
              }
   
          }
  
          .content {
              font-size: 14px;
              color: #333;
              line-height: 1.4;
              text-wrap: wrap;
              margin: 5px 0;
          }

          .file-attachment {
            margin-top: 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: flex-start; 

            .file-preview {
              width: 50px;
              height: 50px;
              object-fit: cover;
              border-radius: 5px;
              border: 1px solid #ddd;
          }

          .download-link {
              flex:1;
              color: #007bff;
              text-decoration: none;
              font-weight: bold;
              display: flex;
              align-items: center;
              gap: 5px;
              word-break: break-word;

              .file-name {
                  flex: 1;
              }
            .file-name:hover {
                text-decoration: underline;
            }
          }  
                
        }    

        .hour {
            font-size: 12px;
            color: #999;
            margin-left: auto;
          } 
        }
  
      .currentUser {
          align-self: flex-end;
          margin: 15px 10px;
          margin-left: auto;
          background-color: #e9edfa;
      }
   
    }

    .input-msg {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-top: 1px solid #ddd;
      background-color: #f9f9f9;
    
      input[type="text"] {
        flex: 1;
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        color: #333;
        border: 1px solid #ccc;
    
        &:focus {
          outline: none;
          border-color: #3f51b5;
          box-shadow: 0 0 5px rgba(63, 81, 181, 0.3);
        }
      }
    
      .file-upload {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        margin: -5px 5px 0 0 ;
    
        .send-icon {
          font-size: 30px;
          transition: color 0.3s ease;
          color: #999;
    
          &:hover {
            color: #4d5fc6;
          }
          &:focus {
            color: #4d5fc6;
          }
        }
    
        input[type="file"] {
          display: none;
        }
      }

      .file-upload.file-selected mat-icon {
        color: #3f51b5;
      }
      

      button {
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
          background-color: #2e3e9d;
        }
    
        &:active {
          background-color: #1f2d7a;
        }
    
        mat-icon {
          height: 26px;
          width: 24px;
          margin-left: 4px;
        }
      }
    
    }
  }
        
  
