<div class="chat">
    <div class="messages" *ngIf="messages">
        <div class="noMsgs" *ngIf="messages.length==0">no messages yet.</div>
        <cdk-virtual-scroll-viewport itemSize="170" class="scroller" #virtualScroll>
            <app-message
                *cdkVirtualFor="let message of messages"
                [message]="message"
                [loggedUserId]="loggedUserId"
                (onAddReaction)="onAddReactionOccurs.emit($event)">
            </app-message>
        </cdk-virtual-scroll-viewport>
    </div>
    <app-input-chat (onSendMsg)="onSendMsg($event)" appFocusOnLoad></app-input-chat>
</div>