.message {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .header-msg {
        display: flex;
        align-items: center;
        justify-content: space-between; 
        margin-bottom: 5px;
        gap: 10px; 

        .profile-photo {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
            border: 2px solid #ddd;
        }

        .currentUserPhoto {
            order: 2;
            margin-right: 0;
            margin-left: 10px;
        }

        .sender {
            font-weight: bold;
            font-size: 14px;
            color: #3f51b5;
        }

    }

    .content {
        font-size: 14px;
        color: #333;
        line-height: 1.4;
        text-wrap: wrap;
        margin: 5px 0;
    }

    .file-attachment {
      margin-top: 5px;
      display: flex;
      align-items: center;
      gap: 10px;
      justify-content: flex-start; 

      .file-preview {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .download-link {
        flex:1;
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        display: flex;
        align-items: center;
        gap: 5px;
        word-break: break-word;

        .file-name {
            flex: 1;
        }
      .file-name:hover {
          text-decoration: underline;
      }
    }  
          
  }    

  .hour {
      font-size: 12px;
      color: #999;
      margin-left: auto;
    } 
  }

.currentUser {
    align-self: flex-end;
    margin: 15px 10px;
    margin-left: auto;
    background-color: #e9edfa;
}

