<header>
    <mat-toolbar color="primary">
        <div class="userDetails" *ngIf="userDetails$ | async as userDetails">
            <img  [src]="userDetails.photoURL" routerLink="/"/>
            <h1> hi {{userDetails.displayName}} </h1>   
        </div>
        <span class="spacer"></span>
        <button
            mat-raised-button
            (click)="loginWithGoogle()"
            *ngIf="!(isLoggedIn$ | async); else log">
            login
        </button>
        <ng-template #log>
            <a class="link" routerLink="/chat">chat</a>
            <button
                mat-raised-button
                (click)="logout()">
                logout
            </button>
        </ng-template>
    </mat-toolbar>
</header>