header{
    .userDetails {
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 40px; 
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer; 
            transition: transform 0.3s ease;

            &:hover {
            transform: scale(1.05);
            }
        }
    }
    .spacer {
        flex: 1 1 auto;
    }
    .chat-link{
        padding: 15px;
        color: white;
        text-decoration: none;
    }
    .mat-raised-button{
        margin-left: 10px;
    }
}
  