.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 20px;
  .home-title {
    font-size: 36px;
    font-weight: bold;
    color: var(--primary-color);
  }
  
  .home-description {
    font-size: 18px;
    color: #555;
    margin: 10px 0;
    max-width: 600px;
  }
  
  button {
    margin-top: 20px;
  }
}
  
