.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    padding: 20px;

      .error-title {
        font-size: 55px;
        font-weight: bold;
        color: var(--primary-color);
      }
      
      .error-description {
        font-size: 20px;
        color: #555;
        margin: 30px 0;
        max-width: 600px;
      }
      
      button {
        margin-top: 20px;
      }
 }
  
